

### to enable M117
[display_status]

### to enable M118
[respond]
default_type: command
###default_type: echo
###default_prefix:


###########################################################################################


[screws_tilt_adjust]
screw1: 32, 230
screw1_name: rear left screw (FIXED BASE)
screw2: 248, 231
screw2_name: rear right screw
screw3: 250, 16
screw3_name: front right screw
screw4: 30, 16
screw4_name: front left screw
speed: 100
horizontal_move_z: 10
screw_thread: CW-M4

###########################################################################################

[homing_override]
axes: xyz
gcode:
    {% set max_z = printer.toolhead.axis_maximum.z|float %}

    _LOWER_Z_SAFE DISTANCE=10

    {% set grab = [
        printer["gcode_button extruder_grab1"].state,
        printer["gcode_button extruder_grab2"].state,
        printer["gcode_button extruder_grab3"].state,
        printer["gcode_button extruder_grab4"].state
    ] %}

    {% set ns = namespace(mounted=false) %}
    {% for state in grab %}
        {% if state == "PRESSED" %}
            {% set ns.mounted = true %}
        {% endif %}
    {% endfor %}

    {% set raw = rawparams|default('')|upper %}
    {% set home_all = (not 'X' in raw and not 'Y' in raw and not 'Z' in raw) %}
    {% set home_x = 'X' in raw or home_all %}
    {% set home_y = 'Y' in raw or home_all %}
    {% set home_z = 'Z' in raw or home_all %}

    {% if ns.mounted %}
        M118 Utensile rilevato! Eseguo Home XY...
        G28 X Y
        M118 Spostamento a X130 Y130 prima del deposito...
        G1 X130 Y130 F6000

        _DEPOSITA_TOOL_FISICO

        M118 Carrello vuoto. Ritorno a X130 Y130...
        G1 X130 Y130 F6000
        M118 Eseguo Home Z dopo aver depositato...
        G28 Z
        _LOWER_Z_SAFE DISTANCE=10

    {% else %}
        M118 Nessun utensile sul carrello.
        {% if home_all %}
            G28 X Y
            G1 X130 Y130 F6000
            G28 Z
            _LOWER_Z_SAFE DISTANCE=10

        {% else %}
            {% if home_x and home_y %}
                G28 X Y
            {% elif home_x %}
                G28 X
            {% elif home_y %}
                G28 Y
            {% endif %}

            {% if home_z %}
                {% if 'x' not in printer.toolhead.homed_axes or 'y' not in printer.toolhead.homed_axes %}
                    M118 Homing XY necessario prima di fare Home Z...
                    G28 X Y
                {% endif %}
                M118 Spostamento al centro X130 Y130 per Home Z...
                G1 X130 Y130 F6000
                G28 Z
                _LOWER_Z_SAFE DISTANCE=10

            {% elif home_x or home_y %}
                M118 Spostamento di sicurezza al centro X130 Y130...
                G1 X130 Y130 F6000
            {% endif %}
        {% endif %}
    {% endif %}

###########################################################################################

[gcode_macro _LOWER_Z_SAFE]
gcode:
    {% set dist = params.DISTANCE|default(10.0)|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}

    {% if "z" not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z={max_z - dist}
        G91
        G1 Z{dist} F300
        G90
    {% else %}
        {% set act_z = printer.toolhead.position.z|float %}
        {% set z_safe = [dist, max_z - act_z]|min %}
        {% if z_safe > 0 %}
            G91
            G1 Z{z_safe} F300
            G90
        {% endif %}
    {% endif %}


