[include printer.filament.cfg]
[include printer.probe.cfg]
[include printer.mesh.cfg]
[include printer.vibration.cfg]

[mcu eboard]
serial: /dev/ttyS5
baud: 460800
restart_method: command

[mcu]
serial: /dev/ttyS2
baud: 230400
restart_method: command

[mcu eheaterboard]
serial: /dev/ttyS4
baud: 230400
restart_method: command

[mcu levelboard]
serial: /dev/ttyS7
baud: 230400
restart_method: command

[board_pins mc_board]
aliases:
    X_STEP=PJ0, X_DIR=PJ1, X_EN=PJ2, X_ENDSTOP=PJ3,  # stepper_x pin step/enable/dir
    Y_STEP=PJ4, Y_DIR=PJ5, Y_EN=PJ6, Y_ENDSTOP=PJ7,  # stepper_y pin step/enable/dir
    Z_STEP=PJ8, Z_DIR=PJ9, Z_EN=PJ10, Z_ENDSTOP=PJ11,  # stepper_z pin step/enable/dir

[stepper_x]
step_pin: PJ4
dir_pin: PJ5
enable_pin: !PJ6
microsteps: 16
rotation_distance: 40.318
endstop_pin:PA15
position_endstop: 0
position_max: 310.0
position_min: -5.0
homing_speed: 80
full_steps_per_rotation: 200
# homing_positive_dir: true
step_pulse_duration: 0.000000100
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 10

# BJ42D29-30V22
[mclib stepper_x]
# motor_rs: 2.5      # motor phase resistor @ohm
# motor_ls: 0.0045    # motor phase inductance @H
motor_rs: 1.7  #1.8+0.3      # motor phase resistor @ohm
motor_ls: 0.0026  # motor phase inductance @H
motor_km: 0.1729    # torque and back-emf coefficient @N*m/A or V/(rad/s)
bus_voltage: 24.0   # dc bus voltage @V
run_current: 1.8    # 1.5max
hold_current: 1.5  # hold current
interpolate: True   # enale step interpolate or not
# stall_threshold:2.1

[stepper_y]
step_pin: PJ0
dir_pin: !PJ1
enable_pin: !PJ2
microsteps: 16
rotation_distance: 40.484
endstop_pin:!eboard:PA15
position_endstop: 0
position_max: 260.0
position_min: -5.0
homing_speed: 80
full_steps_per_rotation: 200
# homing_positive_dir: false
step_pulse_duration: 0.000000100
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 10

# BJ42D29-30V23
[mclib stepper_y]
motor_rs: 1.7   #1.1+0.3    # motor phase resistor @ohm
motor_ls: 0.0026    # motor phase inductance @H
motor_km: 0.1729    # torque and back-emf coefficient @N*m/A or V/(rad/s)
bus_voltage: 24.0   # dc bus voltage @V
run_current: 1.8   # 2max
hold_current: 1.5  # hold current
interpolate: True   # enale step interpolate or not

[stepper_z]
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: !Z_EN
microsteps: 16
full_steps_per_rotation: 200
step_pulse_duration: 0.000000100
rotation_distance: 8
gear_ratio: 2.4:1
# endstop_pin: PB10
endstop_pin: probe:z_virtual_endstop
# position_endstop: 255
position_max: 270.0
position_min: -10.0
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2
homing_retract_speed: 25

# BJ42D29-30V22
[mclib stepper_z]
# motor_rs: 2.5       # motor phase resistor @ohm
# motor_ls: 0.0045    # motor phase inductance @H
motor_rs: 1.7      # motor phase resistor @ohm
motor_ls: 0.0026    # motor phase inductance @H
# motor_rs: 6       # motor phase resistor @ohm
# motor_ls: 0.0095    # motor phase inductance @H
motor_km: 0.1729    # torque and back-emf coefficient @N*m/A or V/(rad/s)
bus_voltage: 24.0   # dc bus voltage @V
run_current: 1.3  # 1.5max
hold_current: 1.1   # hold current
interpolate: True   # enale step interpolate or not
stall_threshold: 0.6

[heater_generic chamber_heater]
gcode_id: C
heater_pin:PE13
max_power:0.8
sensor_type:Generic 3950
sensor_pin:PC1
# smooth_time:30
# max_delta: 0.1
control:pid
pid_Kp: 57.53
pid_Ki: 0.147
pid_Kd: 5624.309
#pwm_cycle_time:
min_temp:-100
max_temp:80

[verify_heater chamber_heater]
max_error: 100
heating_gain: 0.1
check_gain_time: 2400
hysteresis: 5

[stepper_enable]

[led chamber_led]                                                   
white_pin: PB5                                                
hardware_pwm: False 

[heater_fan heat_fan]
pin:eheaterboard:PC11
max_power: 1.0
#kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[heater_fan heat_fan1]
pin:eheaterboard:PA1
max_power: 1.0
heater: extruder1
heater_temp: 50.0

[heater_fan heat_fan2]
pin:eheaterboard:PA6
max_power: 1.0
heater: extruder2
heater_temp: 50.0

[heater_fan heat_fan3]
pin:eheaterboard:PB10
max_power: 1.0
heater: extruder3
heater_temp: 50.0

[fan_generic fanM106]                                           
pin: eboard:PB5

[controller_fan pcb_fan]
pin:PD14
shutdown_speed:0
hardware_pwm:false
fan_speed: 1
idle_timeout:5
idle_speed:0
stepper:stepper_x,stepper_y,stepper_z

[controller_fan heat_ctl_fan]
pin:PE14
shutdown_speed:0
hardware_pwm:false
fan_speed: 1
idle_timeout:5
idle_speed:0
heater:extruder,extruder1,extruder2,extruder3

[fan_generic chamber_fan]
pin:PE11
hardware_pwm:False

[fan_generic chamber_heat_fan]
pin:PD12
hardware_pwm: False 

[fan_generic chamber_loop_fan]
pin:PB10
hardware_pwm: False 

[fan_generic chamber_cool_fan]
pin:PE5
hardware_pwm: False 

[idle_timeout]
timeout:600

[pause_resume]
recover_velocity: 50

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 30000
max_z_velocity: 20
max_z_accel: 300
#max_accel_to_decel:15000
minimum_cruise_ratio: 0.5
square_corner_velocity: 9

[temperature_sensor ptcTemp]
sensor_type: Generic 3950
sensor_pin: PC0

[temperature_sensor extruder_servo_value]
sensor_type: Generic 3950
sensor_pin: eboard:PA0

[gcode_arcs]
resolution: 1.0

[force_move]
enable_force_move: True

[virtual_sdcard]
path: /usr/data/gcodes

[display_status]

[pid_calibrate]

#[temp_ctrl]

[exclude_object]

[pa_adjust]

[ff_eddy eboard]
mcu: mcu eboard
trigger_threshold: -20

[ff_eddy levelboard]
mcu: mcu levelboard
trigger_threshold: 25

[output_pin enable_pin_tmc_x]
pin: PH2
value: 0

[output_pin enable_pin_tmc_y]
pin: PH3
value: 0

[temperature_sensor adc_current_value]
sensor_type: Generic 3950
sensor_pin: eheaterboard:PC1

[gcode_button topDoor]
pin: !eheaterboard:PC2
press_gcode:
    

[gcode_button frontDoor]
pin: !PE0
press_gcode:
    
    
[gcode_button extruder_pos1]
pin: ^!eheaterboard:PC12
press_gcode:
    

[gcode_button extruder_pos2]
pin: ^!eheaterboard:PC4
press_gcode:
    

[gcode_button extruder_pos3]
pin: ^!eheaterboard:PB14
press_gcode:
    

[gcode_button extruder_pos4]
pin: ^!eheaterboard:PC5
press_gcode:
    

[gcode_button extruder_grab1]
pin: ^!eheaterboard:PC10
press_gcode:
    

[gcode_button extruder_grab2]
pin: ^!eheaterboard:PB6
press_gcode:
    

[gcode_button extruder_grab3]
pin: ^!eheaterboard:PD2
press_gcode:
    

[gcode_button extruder_grab4]
pin: ^!eheaterboard:PA12
press_gcode:
   

[hd_home X]
pin: !PA15
offset: 10
speed: 2

[hd_home Y]
pin: !eboard:PA15
offset: -10
speed: 2

[e_stop Z]
#pin: !levelboard:PA2
pin: ^!levelboard:PD0
offset: -8
speed: 5
back_v: 3
error_v : 0.02
main_cycle_cnt : 10
sub_cycle_cnt : 3

[e_stop X]
#pin: !levelboard:PA2
pin: ^!levelboard:PD0
offset: 10
speed: 5
back_v: 3
error_v : 0.02
main_cycle_cnt : 10
sub_cycle_cnt : 3

[e_stop Y]
#pin: !levelboard:PA2
pin: ^!levelboard:PD0
offset: -10
speed: 5
back_v: 3
error_v : 0.02
main_cycle_cnt : 10
sub_cycle_cnt : 3

### [safe_z_home]
### pin: PJ11
### home_xy_position: 130, 130
### speed: 200
### z_hop: 10
### z_hop_speed: 3
### move_to_previous: False



