#[adxl345]
[lis2dw]
cs_pin: eboard:PA4
spi_speed: 4000000
spi_bus: spi1
#spi_software_sclk_pin: eboard:PA5
#spi_software_mosi_pin: eboard:PA7
#spi_software_miso_pin: eboard:PA6
axes_map:  -x, z, y

[resonance_tester]
#accel_chip:adxl345
accel_chip:lis2dw
min_freq: 30
max_freq: 90
probe_points:
        130,130,100
accel_per_hz: 60

[stepper_resonance_tester]
accel_chip: lis2dw               #corexy printer
x_range: 10, 300                 # axis-x range@mm: min, max
y_range: 10, 300                 # axis-y range@mm: min, max
# stepper_x_center_xy: 130, 130
# stepper_y_center_xy: 130, 130
stepper_x_center_xy: 40, 220
stepper_y_center_xy: 220, 220
stepper_x_freq: 200
stepper_y_freq: 200
#vel_range: 5, 30, 0.1            # velocity range@mm/s: min, max, step
vel_range: 20, 120, 5            # velocity range@mm/s: min, max, step
amp_range: 0.000, 0.050, 0.005   # amplitude range: min, max, step
phase_range: 0.0, 6.28, 1.57     # phase range: min, max, step
#phase_range: 2.8, 3.4, 0.1      # phase range: min, max, step
initial_trial_amp: 0.050 #0.020         # initial trial amp @ mA 
min_distortion_threshold: 100    #
td1_amp_initial: 0.010
td1_phase_initial: 0.00
td2_amp_initial: 0.020
td2_phase_initial: 3.14
td4_amp_initial: 0.010
td4_phase_initial: 3.14          # @ rad
load_angle_max: 40               # @ degree

[gcode_macro STEPPER_RESONANCE_FACTORY_CALIBRATE]
gcode:
    # Homing 
    #G28

    # Disable damping
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=1 AMP=0.0 PHASE1=0.0 PHASE2=0.0
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=2 AMP=0.0 PHASE1=0.0 PHASE2=0.0
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=4 AMP=0.0 PHASE1=0.0 PHASE2=0.0

    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=1 AMP=0.0 PHASE1=0.0 PHASE2=0.0
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=2 AMP=0.0 PHASE1=0.0 PHASE2=0.0
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=4 AMP=0.0 PHASE1=0.0 PHASE2=0.0

    # Calibrate frequency , apply result immediatly
    # STEPPER_RESONANCE_CURVE_TEST STEPPER=stepper_x DIR=1 TDX=1,2,4 APPLY=1
    # STEPPER_RESONANCE_CURVE_TEST STEPPER=stepper_y DIR=1 TDX=1,2,4 APPLY=1

    # Calibrate amp and phase all
    STEPPER_RESONANCE_SEARCH_CALIBRATE STEPPER=stepper_x
    STEPPER_RESONANCE_SEARCH_CALIBRATE STEPPER=stepper_y
    #SAVE_CONFIG

[gcode_macro STEPPER_RESONANCE_DAMP_DISABLE]
gcode:
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=1 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=2 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=4 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=1 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=2 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=4 AMP=0.0000 PHASE1=0.000 PHASE2=0.000

[gcode_macro STEPPER_RESONANCE_DAMP_ENABLE]
gcode:
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=1 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=2 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_x TDX=4 AMP=0.0000 PHASE1=0.000 PHASE2=0.000
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=1 AMP=0.0100 PHASE1=3.403 PHASE2=3.150
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=2 AMP=0.0240 PHASE1=3.381 PHASE2=3.323
    MCLIB_SET_RESONANCE_DAMP STEPPER=stepper_y TDX=4 AMP=0.0150 PHASE1=1.022 PHASE2=5.167
