
[manual_stepper gear_stepper]
step_pin:eboard:PC14
dir_pin :eboard:PA2
enable_pin :!eboard:PA3
endstop_pin: !eboard:PC15
microsteps : 16
rotation_distance : 0.00215841  #144
# rotation_distance : 0.00143894  #216
full_steps_per_rotation : 20
velocity :100
accel : 1000

[output_pin A4988_REF]
pin: eboard:PB0
value: 0.25
shutdown_value: 0
cycle_time: 0.00005
pwm: True
hardware_pwm: True

[output_pin enable_gear_stepper]
pin: !eboard:PA3
value: 0

#[gcode_button motor_pin]
#pin: eboard:PC15
#press_gcode:
#    
    
[adc_temperature motor_current_sensor]
temperature1: 0
voltage1: 0
temperature2: 1000
voltage2: 3.3

[temperature_sensor motor_value]
sensor_type: motor_current_sensor
sensor_pin: eboard:PA1

    
###### LOCK ON FIRMWARE ############
[gcode_macro STEPPER_ENABLE]
gcode:
    # SET_PIN PIN=enable_gear_stepper VALUE=1

[gcode_macro STEPPER_DISABLE]
gcode:
    # SET_PIN PIN=enable_gear_stepper VALUE=0

[delayed_gcode LOW_VREF]
initial_duration: 0.0
gcode:
    SET_PIN PIN=A4988_REF VALUE=0.05

[gcode_macro VREF_SET]
gcode:
    SET_PIN PIN=A4988_REF VALUE=0.25

[gcode_macro VREF_SET_UNLOCK]
gcode:
    SET_PIN PIN=A4988_REF VALUE=0.35

[gcode_macro STEPPER_LOCK]
gcode:
    VREF_SET
    MANUAL_STEPPER STEPPER=gear_stepper ENABLE=1 SET_POSITION=0 MOVE=0.07 SPEED=0.25 ACCEL=1.5
    # UPDATE_DELAYED_GCODE ID=LOW_VREF DURATION=0.5
    M400

[gcode_macro STEPPER_UNLOCK]
gcode:
    VREF_SET_UNLOCK
    MANUAL_STEPPER STEPPER=gear_stepper ENABLE=1 SET_POSITION=0 MOVE=-0.1 SPEED=0.5 ACCEL=1.5 STOP_ON_ENDSTOP=1 SYNC=0
    UPDATE_DELAYED_GCODE ID=LOW_VREF DURATION=1

[gcode_macro MOTOR_GRAB_MOVE]
gcode:
    G1 X295 F2400

[gcode_macro MOTOR_GRAB]
gcode:
    STEPPER_LOCK

[gcode_macro MOTOR_GRAB2]
gcode:
    VREF_SET
    MANUAL_STEPPER STEPPER=gear_stepper ENABLE=1 SET_POSITION=0 MOVE=0.03 SPEED=0.02 ACCEL=1 SYNC=0
    UPDATE_DELAYED_GCODE ID=LOW_VREF DURATION=1.7

[gcode_macro MOTOR_RELEASE]
gcode:
    STEPPER_UNLOCK

[gcode_macro MOTOR_STOP]
gcode:
    #STEPPER_DISABLE
    #G4 P100
    #M400

[gcode_macro MOTOR_LOCK_TEST]
gcode:
    MANUAL_STEPPER STEPPER=gear_stepper ENABLE=1 SET_POSITION=0 MOVE=0.07 SPEED=0.25 ACCEL=1
    MANUAL_STEPPER STEPPER=gear_stepper ENABLE=1 SET_POSITION=0 MOVE=0.03 SPEED=0.02 ACCEL=1
    MANUAL_STEPPER STEPPER=gear_stepper ENABLE=1 SET_POSITION=0 MOVE=-0.09 SPEED=0.5 ACCEL=1
    
    
