# some macro

[gcode_macro M900]
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
    {% endif %}
  {% endif %}

[gcode_macro MUTE_MODE_ENABLE]
gcode:
    M204 S65535
    SET_FAN_SPEED FAN=fanM106 SPEED=65535
[gcode_macro MUTE_MODE_DISABLE]
gcode:
    M204 S61166
    SET_FAN_SPEED FAN=fanM106 SPEED=61166

[gcode_macro M106]
gcode:
  {% if 'S' in params %}
    {% set speed = params['S']|float %}
  {% else %}
    {% set speed = 255.0|float%}
  {% endif %}
  {% if 'T' in params %}
    {% set index = params['T']|int %}
  {% endif %}
  {% if 'P' in params %}
    {% set index = params['P']|int %}
  {% endif %}
  {% if index == 101 %}
      #SET_FAN_SPEED FAN=internal_fan SPEED={speed/255.0}
  {% elif index == 2 %}
      SET_FAN_SPEED FAN=chamber_loop_fan SPEED={speed/255.0}
      SET_FAN_SPEED FAN=chamber_cool_fan SPEED={speed/255.0}
  {% elif index == 3 %}
      SET_FAN_SPEED FAN=chamber_fan SPEED={speed/255.0}
  {% else %}
      SET_FAN_SPEED FAN=fanM106 SPEED={speed/255.0}
  {% endif %}

[gcode_macro M107]
gcode:
  {% if 'T' in params %}
    {% set index = params['T']|int %}
  {% endif %}
  {% if 'P' in params %}
    {% set index = params['P']|int %}
  {% endif %}
  {% if index == 101 %}
      #SET_FAN_SPEED FAN=internal_fan SPEED={0.0}
  {% elif index == 2 %}
      SET_FAN_SPEED FAN=chamber_loop_fan SPEED={0.0}
      SET_FAN_SPEED FAN=chamber_cool_fan SPEED={0.0}
  {% elif index == 3 %}
      SET_FAN_SPEED FAN=chamber_fan SPEED={0.0}
  {% else %}
      SET_FAN_SPEED FAN=fanM106 SPEED={0.0}
  {% endif %}

