[bed_mesh]                         
speed: 200                          
horizontal_move_z: 3              
move_check_distance: 3             
mesh_min: 0, 0           
mesh_max: 250, 250           
probe_count: 10, 10                 
mesh_pps: 3, 3                     
algorithm: bicubic                 
bicubic_tension: 0.8               
# fade_start: 0.5
# fade_end: 5.5
# #fade_target: 0